body {
  background: #1E1E1E;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}

canvas {
    display: block;
    position: absolute;
    border: 16px solid #9B9B9B;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
